extends ../layouts/default

block main
  .cover-container
    .hero-container
      img(src="images/30H.jpg",style="max-width:100%;")
    .masthead.clearfix
      .inner
    .overlay.cover
      h1.cover-heading.big-words
        = title
      p.lead.
        Connecting people to the global swing dance network
      p.lead
        block content
    .inner.cover
      br
      h2.
        Site Under Construction
  .mastfoot#hideable-footer
    p.
      A networking tool to connect organizers and dancers worldwide

