extends ../layouts/default

block main
  .cover-container
    .hero-container
      img(src="images/30H.jpg",class="hero-image")
      .overlay.cover
        h2.cover-heading.
          Connecting people to the global swing dance network
    .masthead.clearfix
      .inner
      p.lead
        block content

    .box-view.inner
      .content
        br
        .content-header
          h2.
            It's a New Dawn, It's a New Day...
        p.
          Here at Swing Local, we are excited to be working with dance organizers from around the world. We are always interested to hear ways that we can make the best experience for all. We worked with organizers and promoters directly, so that we try to get the best and most up to date information possible.
        p.
          If you are an organizer or if you just want your city to join the global network, don't hesitate to email us at <a href="mailto:swinglocal@gmail.com">swinglocal@gmail.com</a>. We look forward to bringing awesome information starting Fall 2014.
        p.
          Sincerely, the Swing Local Team

    .foot
      img(src="images/node-logo.svg",style="max-width:100px;")
  //- .mastfoot#hideable-footer
  //-   p.
  //-     A networking tool to connect organizers and dancers worldwide

