extends ../layouts/default

block main
  .cover-container
    .masthead.clearfix
      .inner
      p.lead
        block content
    .inner.cover
      br
      .highlight-image-wrapper
        img(src="images/iphone5-x2-designs.png", class="highlight-image")
      br
      h2.
        Thousands of Venues, Hundreds of Cities, One Network. One App!
      p.
        Swing Local's global iniatiative is to build bridges across multiple cities and encourage swing dancing on a global scale.
        br
        br
        My Goal is to have an easy to use interface to find all the dances with up to date information. Events are hosted directly through Google Calendar, and will be available for everyone. Lindy Hop is about community, and this app is designed for those dreamers!
  .mastfoot#hideable-footer
    p.
      Check up on all your favorite dance venues, anywhere and anytime!

