extends ../layouts/default

block main
  .cover-container
    .masthead.clearfix
      .inner
      p.lead
        block content
    .inner.cover
      br
      div(style= "height:450px;")
          img(src="images/iphone5-x2-designs.png", style = "max-width:700px;")
      br
      h2.
        Coming Soon...
  .mastfoot#hideable-footer
    p.
      Check up on all your favorite dance venues, anywhere and anytime!

