!!!5

%html{ "lang" => "en" }
  %head
    %title="Swing Local"
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
%body
  / = render :partial => "layouts/notice"
  /
    -if notice
      %p.alert.alert-notice
        notice
    - if alert
      %p.alert.alert-error
        alert
  = yield
